/*
colores principales:
azul:#1D72C2
ROJO: #de0028
*/

/*ESTILOS HEADER LOGIN*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.full-container {
    height: 100%;
}

nav {
    width: 100%;
    height: 5em;
    background-color: #1D72C2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 20px;
    font-size: xx-large;
}

.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container.user-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-container .login-box {
    background-color: #1D72C2;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-container .login-box h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: xx-large;
}

.login-container .login-box .forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 70%;
    justify-content: center;
}

.forms-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inputInitialStyle {
    width: 300px;
    height: 45px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.forms-container form input[type=submit] {
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    width: 45%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #555;
    box-shadow: #555 1px;
}

.inputInitialStyle:focus {
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    border: 3px solid #555;
}

.inputInitialStyle::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/*ESTILOS HEADER*/

nav a {
    text-decoration: none;
    color: unset;
}

nav ul {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
}

nav ul li {
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    border-bottom: 10px solid transparent;
}

nav ul li .logOut-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: unset;
}

nav ul li:hover {
    border-bottom: 10px solid #FFFFFF;
}

.inputInitialStyle.loginError {
    border: 1px solid #de0028;
}

.logo.contacts-title {
    color: #000000;
    margin: 20px;
    font-size: x-large;
}

.inputInitialStyle.add-btn {
    width: 200px;
    background-color: #1D72C2;
    color: #FFFFFF;
    border: unset;
    border-radius: 2px;
    cursor: pointer;
}

.inputInitialStyle.add-btn:hover {
    background-color: #145591;
}

.inputInitialStyle.search-bar {
    width: 500px;
    margin: 20px 5px 20px 20px;
}

.inputInitialStyle.search-btn {
    width: 41px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 3.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: unset;
}

#contacts-main-cn {
    display: flex;
    flex-direction: column;
}

.search-img {
    background-image: url(../search-solid.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.error {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    font-style: italic;
    color: #F03738;
    text-align: center;
}

.search-and-add {
    display: flex;
    justify-content: space-between;
}

.search-and-add form {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

.list:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.dot-icon {
    background-image: url(../ellipsis-h-solid.svg);
    background-color: unset;
    width: 20px;
    height: 20px;
}

.dot-icon.hidden {
    display: none;
}

.list.active {
    background-color: #e6f2fe;
}

.trash-icon {
    background: url(../trash-solid.svg) no-repeat;
    background-color: unset;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 10px;
}

.update-icon {
    background: url(../pencil-alt-solid.svg) no-repeat;
    background-color: unset;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 10px;
}

.list.first-row {
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.list.first-row:hover {
    background-color: transparent;
}

.ul-Container {
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: x-small;
    margin: 20px;
}

.ul-Container .list label {
    width: 54px;
}

.ul-Container .list .name-email-cn {
    width: 250px;
}

.ul-Container .list .country-region-cn, .company-cn, .position-cn, .interest-cn {
    width: 186px;
}

.ul-Container .list .country-region-cn.user, .company-cn.user, .position-cn.user, .interest-cn.user {
    width: 250px;
}

.ul-Container .list .actions-cn {
    width: 86px;
    display: flex;
    justify-content: center;
}

.ul-Container .list .actions-cn li {
    list-style: none;
}

.ul-Container .list .interest-cn.margin-bar h2 {
    width: 20%;
}

.contacts-p {
    color: rgba(0, 0, 0, 0.50);
}

.interest-cn {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
}

.progress-bar-container {
    background: #DDDDDD;
    width: 50%;
    height: 10px;
    border-radius: 5px;
}

.progress-bar {
    height: 10px;
    border-radius: 5px;
}

.progress-bar.interest-0 {
    width: 0%;
    background: #DDDDDD;
}

.progress-bar.interest-25 {
    width: 25%;
    background: #1CC1F5;
}

.progress-bar.interest-50 {
    width: 50%;
    background: #FFC700;
}

.progress-bar.interest-75 {
    width: 75%;
    background: #FF6F00;
}

.progress-bar.interest-100 {
    width: 100%;
    background: #DE0028;
}

.modal-container {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    height: 500px;
}

.modal-content.delete {
    background-color: #fefefe;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2px;
}

.modal-content.delete h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.modal-content .delete-icon-cn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.modal-content .delete-icon-cn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.modal-content.delete .btn-cn {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.modal-content.delete .btn-cn button {
    height: 42px;
    width: 130px;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: medium;
}

.modal-content.delete .btn-cn .cancel-btn {
    background-color: transparent;
    border: 1px solid #0683F9;
    border-radius: 2px;
    color: #0683F9;
}

.modal-content.delete .btn-cn .delete-btn {
    background-color: #de0028;
    border-radius: 2px;
    color: #FFFFFF;
}

.modal-content .delete-icon-cn .delete-icon {
    background-image: url(/eliminar-contactos.png);
    background-repeat: no-repeat;
    width: 80px;
    background-size: 100%;
    margin: 30px;
    height: 80px;
}

.modal-content .modal-contact-and-btn-cn {
    background-color: #1D72C2;
    display: flex;
    height: 25%;
    position: relative;
    flex-direction: column;
}

.modal-content .modal-contact-and-btn {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    background-color: #1D72C2;
}

.modal-content .modal-contact-and-btn h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: medium;
}

.modal-content .modal-contact-and-btn button {
    background-color: transparent;
    width: 10px;
    height: 10px;
}

.modal-content .modal-contact-and-btn .cross-img {
    background-image: url(../times-solid.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal-content .modal-contact-and-btn-cn .new-contact-cn {
    WIDTH: 96%;
    HEIGHT: 130px;
    border: 3px solid #0683F9;
    TOP: 50%;
    border-radius: 5px;
    POSITION: ABSOLUTE;
    left: 20px;
    display: flex;
    BACKGROUND: WHITE;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.modal-content .extra-div {
    height: 20%;
    width: 100%;
}

.new-contact-cn form {
    display: flex;
}

.new-contact-cn form div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.new-contact-cn form div label {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: small
}

.new-contact-cn form div label span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #de0028;
    font-size: small
}

.new-contact-cn form div .inputInitialStyle.newContact {
    width: 190px;
    height: 35px;
    margin: unset;
}

.new-contact-info-cn {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.new-contact-info-cn form {
    display: flex;
    width: 98%;
    justify-content: space-between;
}

.new-contact-info-cn form div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.new-contact-info-cn form div .inputInitialStyle.newContact {
    width: 190px;
    height: 35px;
    margin: unset;
}

.new-contact-info-cn form div .inputInitialStyle.newContact.percent {
    width: 70px;
}

.new-contact-info-cn form div .bar-cn {
    width: 200px;
    height: 15px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #C6CACC;
    border-radius: 3.5px;
    flex-direction: row;
    position: relative;
    margin: unset;
}

.new-contact-info-cn form div .bar-cn .bar-content {
    background-color: white;
    margin: unset;
    border: 1;
    border: 1px solid #C6CACC;
    width: 25%;
}

.new-contact-info-cn form div .bar-cn .bar-content-color {
    margin: unset;
    height: 15px;
    border-radius: 3.5px;
    background-color: #1CC1F5;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    transition: width 1s;
}

.new-contact-info-cn form div .bar-cn .bar-content-color .bar-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: unset;
}

.new-contact-info-cn form div .bar-cn .bar-content-color .bar-btn span {
    width: 20px;
    height: 20px;
    position: fixed;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #C6CACC;
}

.new-contact-info-cn form .bar-and-value-cn {
    display: flex;
    flex-direction: row;
    margin: unset;
    align-items: center;
    width: 200px;
}

.save-and-cancel-cn {
    display: flex;
    height: 25%;
    align-items: flex-end;
    justify-content: flex-end;
}

.save-and-cancel-cn .btn-cn {
    margin: 20px;
    width: 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.save-and-cancel-cn div button {
    width: 170px;
    height: 40px;
}

.forms-container.user-section {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: small;
}

.users-li {
    display: flex;
    text-decoration: none;
    text-align: center;
    background-color: #1D72C2;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
}

.select-and-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-and-delete button {
    width: 150px;
    height: 30px;
    background: transparent;
    cursor: pointer;
}

.select-and-delete .selected-items-p {
    color: #1D72C2;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

.selected-items-cn {
    background-color: #e6f2fe;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.selected-items-cn .selected-items-p {
    color: #1D72C2;
    font-family: 'Open Sans', sans-serif;
    margin: unset;
}

.hiddenDiv {
    display: none;
}

.add-region-cn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.region-cn {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.region-cn .add-country-cn, .country-cn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-country-cn {
    width: 100%;
}

.add-country-cn h1 {
    margin: 20px;
}

.country-cn {
    width: 100%;
}

.region-cn button.inputInitialStyle.add-btn.second-cn {
    width: 100px;
}

.region-cn button.inputInitialStyle.add-btn.second-cn.edit {
    width: 80px;
}

.country-cn .country-cn-add-delete {
    display: flex;
    margin-left: 120px;
}

.country-cn .country-cn-add-delete h2 {
    align-self: center;
    width: 130px;
}

.city-cn {
    display: flex;
    width: 70%;
}

.city-cn h3 {
    align-self: center;
    width: 130px;
}

.add-country-cn, .country-cn, .city-cn {
    margin: 20px;
}

.modal-content.region {
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content.region form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content.region form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.modal-content.region form label input {
    border: 1px solid grey;
    height: 20px;
    border-radius: 10px;
    margin: 5px;
}

.modal-content.region .modal-contact-and-btn {
    display: flex;
    margin: unset;
    padding: 10px;
    justify-content: space-between;
    background-color: #1D72C2;
}

.add-company-cn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-company-cn h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

.ul-Container .list .name-email-cn.company {
    width: 250px;
    text-align: center;
}

.ul-Container .list .actions-cn.company {
    width: 250px;
    display: flex;
    justify-content: center;
}

.list.list.first-row.company {
    text-align: center;
}

.modal-content.city {
    height: 250px;
    display: flex;
    flex-direction: column;
}

.modal-content.city .modal-contact-and-btn {
    display: flex;
    margin: unset;
    justify-content: space-between;
    background-color: #1D72C2;
    padding: 20px;
}

.modal-content.city form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    font-family: 'Open Sans', sans-serif;
}

.modal-content.city form label {
    font-family: 'Open Sans', sans-serif;
}

.modal-content.city form select {
    border: 1px solid grey;
    height: 20px;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
}

.modal-content.city form label input {
    border: 1px solid grey;
    height: 20px;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
}

.inputInitialStyle.newContact.disable:disabled {
    background-color: #C6CACC;
}

.new-contact-info-cn .channel-form {
    display: flex;
    width: 98%;
    justify-content: flex-start;
}

.cancel-btn, .save-btn {
    cursor: pointer;
}

.save-btn {
    background-color: #1D72C2;
    color: #fefefe;
}

#hidden-checkbox:checked~label::before {
    content: '\f0c9'
}

#noContacts-container {
    background-color: #1D72C2;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    align-self: center;
    align-items: center;
    border-radius: 5px;
}

#noContacts-container .noContacts-message {
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

.modal-container.edit-user {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.modal-content.edit-user {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 40%;
    height: 80%;
}

.login-container.user-section.edit-user {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-box.edit-user {
    background-color: #1D72C2;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forms-container.user-section.edit-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.inputInitialStyle.edit-user {
    width: 300px;
    height: 45px;
    /* margin: 20px; */
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.button-cn button{
    background-color: transparent;
    width: 10px;
    height: 10px;
  
    
    margin-right: 10px;
}

.button-cn button .cross-img{
    background-image: url(../times-solid.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.button-cn{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
    justify-content: flex-end;
}